=begin
#Strava API v3

#The [Swagger Playground](https://developers.strava.com/playground) is the easiest way to familiarize yourself with the Strava API by submitting HTTP requests and observing the responses before you write any client code. It will show what a response will look like with different endpoints depending on the authorization scope you receive from your athletes. To use the Playground, go to https://www.strava.com/settings/api and change your “Authorization Callback Domain” to developers.strava.com. Please note, we only support Swagger 2.0. There is a known issue where you can only select one scope at a time. For more information, please check the section “client code” at https://developers.strava.com/docs.

The version of the OpenAPI document: 3.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.13.0

=end

require 'cgi'

module StravaClient
  class ActivitiesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an Activity
    # Creates a manual activity for an athlete, requires activity:write scope.
    # @param name [String] The name of the activity.
    # @param sport_type [String] Sport type of activity. For example - Run, MountainBikeRide, Ride, etc.
    # @param start_date_local [Time] ISO 8601 formatted date time.
    # @param elapsed_time [Integer] In seconds.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :type Type of activity. For example - Run, Ride etc.
    # @option opts [String] :description Description of the activity.
    # @option opts [Float] :distance In meters.
    # @option opts [Integer] :trainer Set to 1 to mark as a trainer activity.
    # @option opts [Integer] :commute Set to 1 to mark as commute.
    # @return [DetailedActivity]
    def create_activity(name, sport_type, start_date_local, elapsed_time, opts = {})
      data, _status_code, _headers = create_activity_with_http_info(name, sport_type, start_date_local, elapsed_time, opts)
      data
    end

    # Create an Activity
    # Creates a manual activity for an athlete, requires activity:write scope.
    # @param name [String] The name of the activity.
    # @param sport_type [String] Sport type of activity. For example - Run, MountainBikeRide, Ride, etc.
    # @param start_date_local [Time] ISO 8601 formatted date time.
    # @param elapsed_time [Integer] In seconds.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :type Type of activity. For example - Run, Ride etc.
    # @option opts [String] :description Description of the activity.
    # @option opts [Float] :distance In meters.
    # @option opts [Integer] :trainer Set to 1 to mark as a trainer activity.
    # @option opts [Integer] :commute Set to 1 to mark as commute.
    # @return [Array<(DetailedActivity, Integer, Hash)>] DetailedActivity data, response status code and response headers
    def create_activity_with_http_info(name, sport_type, start_date_local, elapsed_time, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivitiesApi.create_activity ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling ActivitiesApi.create_activity"
      end
      # verify the required parameter 'sport_type' is set
      if @api_client.config.client_side_validation && sport_type.nil?
        fail ArgumentError, "Missing the required parameter 'sport_type' when calling ActivitiesApi.create_activity"
      end
      # verify the required parameter 'start_date_local' is set
      if @api_client.config.client_side_validation && start_date_local.nil?
        fail ArgumentError, "Missing the required parameter 'start_date_local' when calling ActivitiesApi.create_activity"
      end
      # verify the required parameter 'elapsed_time' is set
      if @api_client.config.client_side_validation && elapsed_time.nil?
        fail ArgumentError, "Missing the required parameter 'elapsed_time' when calling ActivitiesApi.create_activity"
      end
      # resource path
      local_var_path = '/activities'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['name'] = name
      form_params['sport_type'] = sport_type
      form_params['start_date_local'] = start_date_local
      form_params['elapsed_time'] = elapsed_time
      form_params['type'] = opts[:'type'] if !opts[:'type'].nil?
      form_params['description'] = opts[:'description'] if !opts[:'description'].nil?
      form_params['distance'] = opts[:'distance'] if !opts[:'distance'].nil?
      form_params['trainer'] = opts[:'trainer'] if !opts[:'trainer'].nil?
      form_params['commute'] = opts[:'commute'] if !opts[:'commute'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DetailedActivity'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['strava_oauth']

      new_options = opts.merge(
        :operation => :"ActivitiesApi.create_activity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#create_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Activity
    # Returns the given activity that is owned by the authenticated athlete. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.
    # @param id [Integer] The identifier of the activity.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_all_efforts To include all segments efforts.
    # @return [DetailedActivity]
    def get_activity_by_id(id, opts = {})
      data, _status_code, _headers = get_activity_by_id_with_http_info(id, opts)
      data
    end

    # Get Activity
    # Returns the given activity that is owned by the authenticated athlete. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.
    # @param id [Integer] The identifier of the activity.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_all_efforts To include all segments efforts.
    # @return [Array<(DetailedActivity, Integer, Hash)>] DetailedActivity data, response status code and response headers
    def get_activity_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivitiesApi.get_activity_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActivitiesApi.get_activity_by_id"
      end
      # resource path
      local_var_path = '/activities/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'include_all_efforts'] = opts[:'include_all_efforts'] if !opts[:'include_all_efforts'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DetailedActivity'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['strava_oauth']

      new_options = opts.merge(
        :operation => :"ActivitiesApi.get_activity_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#get_activity_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Activity Comments
    # Returns the comments on the given activity. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.
    # @param id [Integer] The identifier of the activity.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Deprecated. Prefer to use after_cursor.
    # @option opts [Integer] :per_page Deprecated. Prefer to use page_size. (default to 30)
    # @option opts [Integer] :page_size Number of items per page. Defaults to 30. (default to 30)
    # @option opts [String] :after_cursor Cursor of the last item in the previous page of results, used to request the subsequent page of results.  When omitted, the first page of results is fetched.
    # @return [Array<Comment>]
    def get_comments_by_activity_id(id, opts = {})
      data, _status_code, _headers = get_comments_by_activity_id_with_http_info(id, opts)
      data
    end

    # List Activity Comments
    # Returns the comments on the given activity. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.
    # @param id [Integer] The identifier of the activity.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Deprecated. Prefer to use after_cursor.
    # @option opts [Integer] :per_page Deprecated. Prefer to use page_size. (default to 30)
    # @option opts [Integer] :page_size Number of items per page. Defaults to 30. (default to 30)
    # @option opts [String] :after_cursor Cursor of the last item in the previous page of results, used to request the subsequent page of results.  When omitted, the first page of results is fetched.
    # @return [Array<(Array<Comment>, Integer, Hash)>] Array<Comment> data, response status code and response headers
    def get_comments_by_activity_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivitiesApi.get_comments_by_activity_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActivitiesApi.get_comments_by_activity_id"
      end
      # resource path
      local_var_path = '/activities/{id}/comments'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after_cursor'] = opts[:'after_cursor'] if !opts[:'after_cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Comment>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['strava_oauth']

      new_options = opts.merge(
        :operation => :"ActivitiesApi.get_comments_by_activity_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#get_comments_by_activity_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Activity Kudoers
    # Returns the athletes who kudoed an activity identified by an identifier. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.
    # @param id [Integer] The identifier of the activity.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number. Defaults to 1.
    # @option opts [Integer] :per_page Number of items per page. Defaults to 30. (default to 30)
    # @return [Array<SummaryAthlete>]
    def get_kudoers_by_activity_id(id, opts = {})
      data, _status_code, _headers = get_kudoers_by_activity_id_with_http_info(id, opts)
      data
    end

    # List Activity Kudoers
    # Returns the athletes who kudoed an activity identified by an identifier. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.
    # @param id [Integer] The identifier of the activity.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number. Defaults to 1.
    # @option opts [Integer] :per_page Number of items per page. Defaults to 30. (default to 30)
    # @return [Array<(Array<SummaryAthlete>, Integer, Hash)>] Array<SummaryAthlete> data, response status code and response headers
    def get_kudoers_by_activity_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivitiesApi.get_kudoers_by_activity_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActivitiesApi.get_kudoers_by_activity_id"
      end
      # resource path
      local_var_path = '/activities/{id}/kudos'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<SummaryAthlete>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['strava_oauth']

      new_options = opts.merge(
        :operation => :"ActivitiesApi.get_kudoers_by_activity_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#get_kudoers_by_activity_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Activity Laps
    # Returns the laps of an activity identified by an identifier. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.
    # @param id [Integer] The identifier of the activity.
    # @param [Hash] opts the optional parameters
    # @return [Array<Lap>]
    def get_laps_by_activity_id(id, opts = {})
      data, _status_code, _headers = get_laps_by_activity_id_with_http_info(id, opts)
      data
    end

    # List Activity Laps
    # Returns the laps of an activity identified by an identifier. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.
    # @param id [Integer] The identifier of the activity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Lap>, Integer, Hash)>] Array<Lap> data, response status code and response headers
    def get_laps_by_activity_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivitiesApi.get_laps_by_activity_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActivitiesApi.get_laps_by_activity_id"
      end
      # resource path
      local_var_path = '/activities/{id}/laps'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Lap>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['strava_oauth']

      new_options = opts.merge(
        :operation => :"ActivitiesApi.get_laps_by_activity_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#get_laps_by_activity_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Athlete Activities
    # Returns the activities of an athlete for a specific identifier. Requires activity:read. Only Me activities will be filtered out unless requested by a token with activity:read_all.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :before An epoch timestamp to use for filtering activities that have taken place before a certain time.
    # @option opts [Integer] :after An epoch timestamp to use for filtering activities that have taken place after a certain time.
    # @option opts [Integer] :page Page number. Defaults to 1.
    # @option opts [Integer] :per_page Number of items per page. Defaults to 30. (default to 30)
    # @return [Array<SummaryActivity>]
    def get_logged_in_athlete_activities(opts = {})
      data, _status_code, _headers = get_logged_in_athlete_activities_with_http_info(opts)
      data
    end

    # List Athlete Activities
    # Returns the activities of an athlete for a specific identifier. Requires activity:read. Only Me activities will be filtered out unless requested by a token with activity:read_all.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :before An epoch timestamp to use for filtering activities that have taken place before a certain time.
    # @option opts [Integer] :after An epoch timestamp to use for filtering activities that have taken place after a certain time.
    # @option opts [Integer] :page Page number. Defaults to 1.
    # @option opts [Integer] :per_page Number of items per page. Defaults to 30. (default to 30)
    # @return [Array<(Array<SummaryActivity>, Integer, Hash)>] Array<SummaryActivity> data, response status code and response headers
    def get_logged_in_athlete_activities_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivitiesApi.get_logged_in_athlete_activities ...'
      end
      # resource path
      local_var_path = '/athlete/activities'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<SummaryActivity>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['strava_oauth']

      new_options = opts.merge(
        :operation => :"ActivitiesApi.get_logged_in_athlete_activities",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#get_logged_in_athlete_activities\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Activity Zones
    # Summit Feature. Returns the zones of a given activity. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.
    # @param id [Integer] The identifier of the activity.
    # @param [Hash] opts the optional parameters
    # @return [Array<ActivityZone>]
    def get_zones_by_activity_id(id, opts = {})
      data, _status_code, _headers = get_zones_by_activity_id_with_http_info(id, opts)
      data
    end

    # Get Activity Zones
    # Summit Feature. Returns the zones of a given activity. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.
    # @param id [Integer] The identifier of the activity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ActivityZone>, Integer, Hash)>] Array<ActivityZone> data, response status code and response headers
    def get_zones_by_activity_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivitiesApi.get_zones_by_activity_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActivitiesApi.get_zones_by_activity_id"
      end
      # resource path
      local_var_path = '/activities/{id}/zones'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ActivityZone>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['strava_oauth']

      new_options = opts.merge(
        :operation => :"ActivitiesApi.get_zones_by_activity_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#get_zones_by_activity_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Activity
    # Updates the given activity that is owned by the authenticated athlete. Requires activity:write. Also requires activity:read_all in order to update Only Me activities
    # @param id [Integer] The identifier of the activity.
    # @param [Hash] opts the optional parameters
    # @option opts [UpdatableActivity] :body 
    # @return [DetailedActivity]
    def update_activity_by_id(id, opts = {})
      data, _status_code, _headers = update_activity_by_id_with_http_info(id, opts)
      data
    end

    # Update Activity
    # Updates the given activity that is owned by the authenticated athlete. Requires activity:write. Also requires activity:read_all in order to update Only Me activities
    # @param id [Integer] The identifier of the activity.
    # @param [Hash] opts the optional parameters
    # @option opts [UpdatableActivity] :body 
    # @return [Array<(DetailedActivity, Integer, Hash)>] DetailedActivity data, response status code and response headers
    def update_activity_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivitiesApi.update_activity_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActivitiesApi.update_activity_by_id"
      end
      # resource path
      local_var_path = '/activities/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'DetailedActivity'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['strava_oauth']

      new_options = opts.merge(
        :operation => :"ActivitiesApi.update_activity_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#update_activity_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
