=begin
#Strava API v3

#The [Swagger Playground](https://developers.strava.com/playground) is the easiest way to familiarize yourself with the Strava API by submitting HTTP requests and observing the responses before you write any client code. It will show what a response will look like with different endpoints depending on the authorization scope you receive from your athletes. To use the Playground, go to https://www.strava.com/settings/api and change your “Authorization Callback Domain” to developers.strava.com. Please note, we only support Swagger 2.0. There is a known issue where you can only select one scope at a time. For more information, please check the section “client code” at https://developers.strava.com/docs.

The version of the OpenAPI document: 3.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.13.0

=end

require 'cgi'

module StravaClient
  class ClubsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List Club Activities
    # Retrieve recent activities from members of a specific club. The authenticated athlete must belong to the requested club in order to hit this endpoint. Pagination is supported. Athlete profile visibility is respected for all activities.
    # @param id [Integer] The identifier of the club.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number. Defaults to 1.
    # @option opts [Integer] :per_page Number of items per page. Defaults to 30. (default to 30)
    # @return [Array<ClubActivity>]
    def get_club_activities_by_id(id, opts = {})
      data, _status_code, _headers = get_club_activities_by_id_with_http_info(id, opts)
      data
    end

    # List Club Activities
    # Retrieve recent activities from members of a specific club. The authenticated athlete must belong to the requested club in order to hit this endpoint. Pagination is supported. Athlete profile visibility is respected for all activities.
    # @param id [Integer] The identifier of the club.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number. Defaults to 1.
    # @option opts [Integer] :per_page Number of items per page. Defaults to 30. (default to 30)
    # @return [Array<(Array<ClubActivity>, Integer, Hash)>] Array<ClubActivity> data, response status code and response headers
    def get_club_activities_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClubsApi.get_club_activities_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ClubsApi.get_club_activities_by_id"
      end
      # resource path
      local_var_path = '/clubs/{id}/activities'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ClubActivity>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['strava_oauth']

      new_options = opts.merge(
        :operation => :"ClubsApi.get_club_activities_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClubsApi#get_club_activities_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Club Administrators
    # Returns a list of the administrators of a given club.
    # @param id [Integer] The identifier of the club.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number. Defaults to 1.
    # @option opts [Integer] :per_page Number of items per page. Defaults to 30. (default to 30)
    # @return [Array<SummaryAthlete>]
    def get_club_admins_by_id(id, opts = {})
      data, _status_code, _headers = get_club_admins_by_id_with_http_info(id, opts)
      data
    end

    # List Club Administrators
    # Returns a list of the administrators of a given club.
    # @param id [Integer] The identifier of the club.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number. Defaults to 1.
    # @option opts [Integer] :per_page Number of items per page. Defaults to 30. (default to 30)
    # @return [Array<(Array<SummaryAthlete>, Integer, Hash)>] Array<SummaryAthlete> data, response status code and response headers
    def get_club_admins_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClubsApi.get_club_admins_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ClubsApi.get_club_admins_by_id"
      end
      # resource path
      local_var_path = '/clubs/{id}/admins'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<SummaryAthlete>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['strava_oauth']

      new_options = opts.merge(
        :operation => :"ClubsApi.get_club_admins_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClubsApi#get_club_admins_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Club
    # Returns a given club using its identifier.
    # @param id [Integer] The identifier of the club.
    # @param [Hash] opts the optional parameters
    # @return [DetailedClub]
    def get_club_by_id(id, opts = {})
      data, _status_code, _headers = get_club_by_id_with_http_info(id, opts)
      data
    end

    # Get Club
    # Returns a given club using its identifier.
    # @param id [Integer] The identifier of the club.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DetailedClub, Integer, Hash)>] DetailedClub data, response status code and response headers
    def get_club_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClubsApi.get_club_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ClubsApi.get_club_by_id"
      end
      # resource path
      local_var_path = '/clubs/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DetailedClub'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['strava_oauth']

      new_options = opts.merge(
        :operation => :"ClubsApi.get_club_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClubsApi#get_club_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Club Members
    # Returns a list of the athletes who are members of a given club.
    # @param id [Integer] The identifier of the club.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number. Defaults to 1.
    # @option opts [Integer] :per_page Number of items per page. Defaults to 30. (default to 30)
    # @return [Array<ClubAthlete>]
    def get_club_members_by_id(id, opts = {})
      data, _status_code, _headers = get_club_members_by_id_with_http_info(id, opts)
      data
    end

    # List Club Members
    # Returns a list of the athletes who are members of a given club.
    # @param id [Integer] The identifier of the club.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number. Defaults to 1.
    # @option opts [Integer] :per_page Number of items per page. Defaults to 30. (default to 30)
    # @return [Array<(Array<ClubAthlete>, Integer, Hash)>] Array<ClubAthlete> data, response status code and response headers
    def get_club_members_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClubsApi.get_club_members_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ClubsApi.get_club_members_by_id"
      end
      # resource path
      local_var_path = '/clubs/{id}/members'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ClubAthlete>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['strava_oauth']

      new_options = opts.merge(
        :operation => :"ClubsApi.get_club_members_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClubsApi#get_club_members_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Athlete Clubs
    # Returns a list of the clubs whose membership includes the authenticated athlete.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number. Defaults to 1.
    # @option opts [Integer] :per_page Number of items per page. Defaults to 30. (default to 30)
    # @return [Array<SummaryClub>]
    def get_logged_in_athlete_clubs(opts = {})
      data, _status_code, _headers = get_logged_in_athlete_clubs_with_http_info(opts)
      data
    end

    # List Athlete Clubs
    # Returns a list of the clubs whose membership includes the authenticated athlete.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number. Defaults to 1.
    # @option opts [Integer] :per_page Number of items per page. Defaults to 30. (default to 30)
    # @return [Array<(Array<SummaryClub>, Integer, Hash)>] Array<SummaryClub> data, response status code and response headers
    def get_logged_in_athlete_clubs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClubsApi.get_logged_in_athlete_clubs ...'
      end
      # resource path
      local_var_path = '/athlete/clubs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<SummaryClub>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['strava_oauth']

      new_options = opts.merge(
        :operation => :"ClubsApi.get_logged_in_athlete_clubs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClubsApi#get_logged_in_athlete_clubs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
