=begin
#Strava API v3

#Strava API

OpenAPI spec version: 3.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.1

=end

require "uri"

module StravaClient
  class SegmentEffortsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # List Segment Efforts
    # Returns a set of the authenticated athlete's segment efforts for a given segment.
    # @param id The identifier of the segment.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number.
    # @option opts [Integer] :per_page Number of items per page. Defaults to 30. (default to 30)
    # @return [Array<DetailedSegmentEffort>]
    def get_efforts_by_segment_id(id, opts = {})
      data, _status_code, _headers = get_efforts_by_segment_id_with_http_info(id, opts)
      return data
    end

    # List Segment Efforts
    # Returns a set of the authenticated athlete&#39;s segment efforts for a given segment.
    # @param id The identifier of the segment.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number.
    # @option opts [Integer] :per_page Number of items per page. Defaults to 30.
    # @return [Array<(Array<DetailedSegmentEffort>, Fixnum, Hash)>] Array<DetailedSegmentEffort> data, response status code and response headers
    def get_efforts_by_segment_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: SegmentEffortsApi.get_efforts_by_segment_id ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SegmentEffortsApi.get_efforts_by_segment_id"
      end
      # resource path
      local_var_path = "/segments/{id}/all_efforts".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['strava_oauth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<DetailedSegmentEffort>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentEffortsApi#get_efforts_by_segment_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Segment Effort
    # Returns a segment effort from an activity that is owned by the authenticated athlete.
    # @param id The identifier of the segment effort.
    # @param [Hash] opts the optional parameters
    # @return [DetailedSegmentEffort]
    def get_segment_effort_by_id(id, opts = {})
      data, _status_code, _headers = get_segment_effort_by_id_with_http_info(id, opts)
      return data
    end

    # Get Segment Effort
    # Returns a segment effort from an activity that is owned by the authenticated athlete.
    # @param id The identifier of the segment effort.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DetailedSegmentEffort, Fixnum, Hash)>] DetailedSegmentEffort data, response status code and response headers
    def get_segment_effort_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: SegmentEffortsApi.get_segment_effort_by_id ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SegmentEffortsApi.get_segment_effort_by_id"
      end
      # resource path
      local_var_path = "/segment_efforts/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['strava_oauth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DetailedSegmentEffort')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentEffortsApi#get_segment_effort_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
